.book-detail-card {
    cursor: pointer;

    border: 1px solid #e5e7eb;
    border-radius: 18px;

    margin: 40px auto;
    padding: 36px;

    background: white;
    list-style: none;

    width: 94%;
    max-width: 1500px;
}

.book-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}

.book-detail-header h2 {
    font-size: 32px;
    font-weight: 800;

    color: #222;
}

.book-action-buttons {
    display: flex;
    gap: 12px;
}

.book-action-buttons button {
    height: 42px;
    padding: 0 18px;

    border: none;
    border-radius: 10px;

    background: #1b3a5c;
    color: white;

    font-size: 15px;
    font-weight: 700;

    cursor: pointer;
}

.book-action-buttons button:hover {
    background: #28527d;
}

.book-detail-content {
    display: grid;
    grid-template-columns: 320px 1fr;

    gap: 50px;
}

.book-cover-area {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 18px;
}

.book-detail-image {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.like-btn {
    width: 100%;
    max-width: 100px;
    height: 50px;

    border: none;
    border-radius: 12px;

    background: #f3f5ff;
    color: #1b3a5c;

    font-size: 17px;
    font-weight: 800;

    cursor: pointer;
}

.book-info-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.book-info-area h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;

    font-size: 30px;
    font-weight: 800;

    color: #111;
}

.book-author,
.book-tags,
.book-description {
    width: 100%;
    text-align: left;
}

.book-author strong,
.book-tags strong,
.book-description strong {
    display: block;

    margin-bottom: 15px;

    font-size: 20px;
    color: #1b3a5c;
}

.book-author p {
    font-size: 20px;
    color: #333;
}

.tag-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-wrap span {
    padding: 8px 14px;

    border-radius: 20px;

    background: #f3f5ff;
    color: #1b3a5c;

    font-size: 15px;
    font-weight: 700;
}

.book-description p {
    min-height: 200px;

    padding: 22px;

    border-radius: 14px;

    background: #f3f5ff;

    color: #333;
    font-size: 17px;
    line-height: 1.8;
}